    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" #searchBox type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search(searchBox.value)">Search</button>
    </div> 

<ul>
  <li *ngFor="let note of Notes">
    <app-sticky [note]="note" (noteEvent)="deleteNote($event)" (saveEvent)="save($event)">
      loading....
    </app-sticky>
  </li>
</ul>
<button type="button" class="addNote" (click)="addNote()">+</button>