.addNote
{
  position: fixed;
  bottom:20px;
  right: 20px;
  z-index: 10;
  font-family:  Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 20px;
	color: #FFFFFF;
	padding: 2em 2em;
	background: linear-gradient(top, rgba(0,0,0,.15), rgba(0,0,0,.3));
	background-color: #00CC00;
	border-radius: 50%;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3),inset 0 -1px 2px -1px rgba(0,0,0,.5), inset 0 1px 2px 1px rgba(255,255,255,.3);
	text-shadow: 0 -1px 0 rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.3);
	text-decoration: none;
	transition: transform .150s, background .01s;
}

ul,li{
  list-style:none;
}

ul{
  overflow:hidden;
  padding:3em;
}

ul li{
  margin:1em;
  float:left;
}