div.sticky h2{
  font-size: 100%;
  font-weight:bolder;
}

div.sticky ul,li{
  list-style: none;
  font-weight: normal;
}

div.sticky {
  overflow: hidden;
  
  text-decoration: none;
  color:#000;
  background: #ffc;
  display:block;
  height: 10em;
  width: 10em;
  padding: 1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
}

div.sticky ul li{
  margin: .25em;
}